@tailwind base;
@tailwind components;
@tailwind utilities;
/* Hide scrollbar for Chrome, Safari */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge */
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none; /* Firefox */
}